/* Styles boutons */

.buttonClose {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.buttonClose:hover {
    -fx-background-color: #c91212;
}
.buttonClose:pressed {
    -fx-background-color: #ff6464;
}

.buttonMenu {
    -fx-background-color: #123456;
}
.buttonMenu:hover{
    -fx-background-color: #054279;
}
.buttonMenu:pressed{
    -fx-background-color: #123456;
}

.buttonUndo {
    -fx-background-color: #0056B3;
}
.buttonUndo:hover{
    -fx-background-color: #1c85f6;
}
.buttonUndo:pressed{
    -fx-background-color: #0056B3;
}

.buttonPlay {
    -fx-background-color: #007BFF;
}
.buttonPlay:hover{
    -fx-background-color: #007BFF;
}
.buttonPlay:pressed{
    -fx-background-color: #007BFF;
}

.buttonSave {
    -fx-background-color: #007BFF;
}
.buttonSave:hover{
    -fx-background-color: #007BFF;
}
.buttonSave:pressed{
    -fx-background-color: #007BFF;
}

.buttonLoad {
    -fx-background-color: #007BFF;
}
.buttonLoad:hover{
    -fx-background-color: #007BFF;
}
.buttonLoad:pressed{
    -fx-background-color: #007BFF;
}

.buttonStopAI {
    -fx-background-color: #007BFF;
}
.buttonStopAI:hover{
    -fx-background-color: #007BFF;
}
.buttonStopAI:pressed{
    -fx-background-color: #007BFF;
}

.buttonStats {
    -fx-background-color: #007BFF;
}
.buttonStats:hover{
    -fx-background-color: #007BFF;
}
.buttonStats:pressed{
    -fx-background-color: #007BFF;
}

.buttonBack {
    -fx-background-color: #007BFF;
}
.buttonBack:hover{
    -fx-background-color: #007BFF;
}
.buttonBack:pressed{
    -fx-background-color: #007BFF;
}

/* Styles panes */

.anchorPaneDrag {
    -fx-opacity: 0.2;
    -fx-background-color: #5e5e5e;
}
.anchorPaneBackground {

    -fx-border-color: #989898;
    -fx-background-color: linear-gradient(#a1c4fd, #c2e9fb);
}
.anchorPaneMid {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #989898;
}
.anchorPaneMenu {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #989898;
}
.anchorPaneStats {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #989898;
}