/* Styles boutons */

.buttonClose {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.buttonClose:hover {
    -fx-background-color: #E71D36;
}
.buttonClose:pressed {
    -fx-background-color: #ad0f23;
}

.buttonMenu {
    -fx-background-color: #1C60A7;
    -fx-text-fill: #FFFFFF;
}
.buttonMenu:hover{
    -fx-background-color: #337ab7;
}
.buttonMenu:pressed{
    -fx-background-color: #154a6f;
}

.buttonUndo {
    -fx-background-color: #1C60A7;
    -fx-text-fill: #FFFFFF;
}
.buttonUndo:hover{
    -fx-background-color: #337ab7;
}
.buttonUndo:pressed{
    -fx-background-color: #154a6f;
}

.buttonPlay {
    -fx-background-color: #7BE8E4;
}
.buttonPlay:hover{
    -fx-background-color: #8EEFF0;
}
.buttonPlay:pressed{
    -fx-background-color: #72E0DD;
}

.buttonLoadSave {
    -fx-background-color: #AEF1EF;
}
.buttonLoadSave:hover{
    -fx-background-color: #BFF5F3;
}
.buttonLoadSave:pressed{
    -fx-background-color: #9DCDCB;
}

.buttonAI {
    -fx-background-color: rgba(237, 225, 242, 0.82);
}
.buttonAI:hover{
    -fx-background-color: #F0E6F5;
}
.buttonAI:pressed{
    -fx-background-color: #DBCCDF;
}

.buttonStats {
    -fx-background-color: rgba(226, 207, 234, 0.81);
}
.buttonStats:hover{
    -fx-background-color: #E7D4F0;
}
.buttonStats:pressed{
    -fx-background-color: #D0C1E1;
}

.buttonBack {
    -fx-background-color: #E2CFEA;
}
.buttonBack:hover{
    -fx-background-color: #E7D4F0;
}
.buttonBack:pressed{
    -fx-background-color: #D0C1E1;
}

.buttonStyle{
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.buttonStyle:hover{
    -fx-background-color: #4EA8DE;
}
.buttonStyle:pressed{
    -fx-background-color: #1C60A7;
}

/* Styles panes */

.anchorPaneDrag {
    -fx-background-color: #5390D9;
}
.anchorPaneBackground {
    -fx-background-color: linear-gradient(#5390d9 60%, #4EA8DE 99%);
    -fx-border-color: #4EA8DE;
}
.anchorPaneMid {
    -fx-background-color: #4EA8DE;
    -fx-effect: innershadow(gaussian, rgb(83, 144, 217), 10, 0.05, 0, 5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-opacity: 0.6;
}
.anchorPaneMenu {
    -fx-background-color: #4EA8DE;
    -fx-border-color: #5390D9;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.anchorPaneStats {
    -fx-background-color: #4EA8DE;
    -fx-border-color: #5390D9;
}

/* Styles grid */

.grid {
    -fx-background-color: rgba(28, 96, 167, 0.27);
    -fx-border-color: #5390D9;
    -fx-opacity: 0.8;
}