.buttonClose {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}
.buttonClose:hover {
    -fx-background-color: #c91212;
    -fx-cursor: hand;
}
.buttonClose:pressed {
    -fx-background-color: #fd0000;

}
.buttonMenu {
    -fx-background-color: #123456;
}
.buttonMenu:hover{
    -fx-background-color: #054279;
}
.buttonMenu:pressed{
    -fx-background-color: #123456;
}