/* Styles boutons */

.buttonClose {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.buttonClose:hover {
    -fx-background-color: #E71D36;
}
.buttonClose:pressed {
    -fx-background-color: #ad0f23;
}

.buttonMenu {
    -fx-background-color: #D6BCC8;
    -fx-opacity: 0.7;
    -fx-border-color: #FDE2E4;
    -fx-text-fill: #011627;
}
.buttonMenu:hover{
    -fx-background-color: rgba(214, 188, 200, 0.55);
}
.buttonMenu:pressed{
    -fx-background-color: #b78f9d;
}

.buttonUndo {
    -fx-background-color: #D6BCC8;
    -fx-opacity: 0.7;
    -fx-border-color: #FDE2E4;
    -fx-text-fill: #011627;
}
.buttonUndo:hover{
    -fx-background-color: rgba(214, 188, 200, 0.55);
}
.buttonUndo:pressed{
    -fx-background-color: #b78f9d;
}

.buttonPlay {
    -fx-background-color: #939FEE;
}
.buttonPlay:hover{
    -fx-background-color: #becfff;
}
.buttonPlay:pressed{
    -fx-background-color: #b7c6ff;
}

.buttonLoadSave {
    -fx-background-color: #A2AEED;
}
.buttonLoadSave:hover{
    -fx-background-color: rgba(162, 174, 237, 0.63);
}
.buttonLoadSave:pressed{
    -fx-background-color: #828cbe;
}

.buttonAI {
    -fx-background-color: #c8a9d5;
}
.buttonAI:hover{
    -fx-background-color: rgba(200, 169, 213, 0.47);
}
.buttonAI:pressed{
    -fx-background-color: #a98eb2;
}

.buttonStats {
    -fx-background-color: rgba(232, 133, 159, 0.56);
}
.buttonStats:hover{
    -fx-background-color: rgba(232, 133, 159, 0.31);
}
.buttonStats:pressed{
    -fx-background-color: rgba(232, 133, 159, 0.89);
}

.buttonBack {
    -fx-background-color: rgba(232, 133, 159, 0.56);
}
.buttonBack:hover{
    -fx-background-color: rgba(232, 133, 159, 0.31);
}
.buttonBack:pressed{
    -fx-background-color: rgba(232, 133, 159, 0.89);
}

.buttonStyle{
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.buttonStyle:hover{
    -fx-background-color: #D6BCC8;
}
.buttonStyle:pressed{
    -fx-background-color: #939FEE;
}

/* Styles panes */

.anchorPaneDrag {
    -fx-background-color: #CEA9D0;
}
.anchorPaneBackground {
    -fx-background-color: linear-gradient(#D6BCC8 65%, #CEA9D0 75%);

    -fx-border-color: #CEA9D0;
}
.anchorPaneMid {
    -fx-background-color: #CEA9D0;
    -fx-effect: innershadow(gaussian, rgb(214, 188, 200), 10, 0.05, 0, 5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.anchorPaneMenu {
    -fx-background-color: #D6BCC8;
    -fx-border-color: #CEA9D0;
}
.anchorPaneStats {
    -fx-background-color: #D6BCC8;
    -fx-border-color: #CEA9D0;
}

/* Styles grid */

.grid {
    -fx-background-color: #CEA9D0;
    -fx-border-color: #FDE2E4;
}